* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: darkblue;
}
h2{
    color: rgb(92, 0, 0);
}
nav{
    background-color: black;
    text-align: center;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
}

nav a:hover{
    color: rgb(231, 86, 86);
}

section{
    background-color: white ;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    border: 10px ; /*outset,dashed,inset,solid color*/

}

section:hover{
    border: 10px inset;
}
#Inicio{
    background-color: rgba(221, 14, 14, 0.918);
}
.nome{
    color: rgb(0, 0, 0);
}
.cabecalho{
    text-align: center;
}
main{
    max-width: 900px;
    margin: auto;
}
#habilidades{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.container-habilidades{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.card-habilidade{
    background-color: #f5f5f5;
    padding: 20px;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    min-height: 110px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 25);
    transition: transform 0.3s ease;
}
.card-habilidade:hover{
    transform: scale(1.05);
}
.container-projetos{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.card-projeto{
    background-color: white;
    width: 280px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 25);
    text-align: center
}
.card-projeto img{
    width: 100%;
    border-radius: 10px;
}
.card-projeto a{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}
.card-projeto:hover{
    transform: scale(1.05);
}
.card-projeto a:hover{
    background-color: red;
    box-shadow: 0px 0px 10px;
}