* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(221, 143, 208);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: darkblue;
}
h2{
    color: rgb(97, 8, 100);
}
nav{
    background-color: black;
    text-align: center;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
}

nav a:hover{
    color: rgb(136, 8, 175);
}

section{
    background-color: white ;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    border: 10px ; /*outset,dashed,inset,solid color*/

}

section:hover{
    border: 10px inset;
}
#Inicio{
    background-color: rgba(190, 38, 145, 0.918);
}
.nome{
    color: rgb(0, 0, 0);
}
.cabecalho{
    text-align: center;
}
main{
    max-width: 900px;
    margin: auto;
}